*.svg
examples/*.dep
examples/*.o
src/*.dep
src/*.o
examples/nfp
examples/fuzz
src/libnfp.so
.cproject
.project
.settings/
valgrind.log
perf.data
perf.data.old
testfuzz.log
test.log
examples/isvalid
testgen.log
testgenfuzz.log

